body {
  background: url("disco.jpg") ;
  background-size: 100%;
}

.sax {
  margin-top: 0px;
  width: 184px;
  height: 242px;
}

.text {
  margin-top: 250px;
  color: #819FF7;
}

.links {
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
}

.link {
  margin-left: 50px;
  font-size: 16pt;
  font-family: helvetica;
  text-decoration: none;
  color: #819FF7;
  opacity: 0.5;
}

.link:hover {
  color: #819FF7;
  opacity: 1;
}