body {
  background: url("http://ak.picdn.net/shutterstock/videos/294625/preview/stock-footage-disco-ball-background.jpg") ;
  background-size: 100%;
}

.sax {
  margin-top: 0px;
  width: 184px;
  height: 242px;
}

.text {
  margin-top: 250px;
  color: #819FF7;
}